//--------------------------------------------------------------------------------------------------------------------//
//                                            SOCIALBAR VARIABLES                                                     //
//--------------------------------------------------------------------------------------------------------------------//
/// social icon bg color
/// @group socialbar
$social-icon-bg-color: #619ec3 !default;
/// social icon border-radius
/// @group socialbar
$social-icon-border-radius: $border-radius !default;
/// social icon spacing
/// @group socialbar
$social-icon-spacing: 17px !default;
/// social icon facebook background url
/// @group socialbar
$social-icon-facebook-bg-url: '#{$imgs-path}facebook-logo.png';
/// social icon facebook background position
/// @group socialbar
$social-icon-facebook-bg-position: 10px 18px;
/// social icon instagram background url
/// @group socialbar
$social-icon-instagram-bg-url: '#{$imgs-path}instagram-logo.png';
/// social icon instagram background position
/// @group socialbar
$social-icon-instagram-bg-position: 17px 17px;
/// social icon twitter background url
/// @group socialbar
$social-icon-twitter-bg-url: '#{$imgs-path}twitter-logo.png';
/// social icon twitter background position
/// @group socialbar
$social-icon-twitter-bg-position: 19px 16px;