.#{$prefix}about {
	display: flex;
	justify-content: center;

	.#{$prefix}about-label {
		font-family: $font-family-secondary-bold;
		margin-bottom: 25px;
	}

	.#{$prefix}section-title {
		margin-bottom: 65px;
		max-width: 497px;
		
		@include respond-below(md) {
			max-width: 444px;
		}
	}

	.#{$prefix}section-content {
		background-color: #f3eff0;
		padding: 72px 213px 86px 203px;
		position: relative;
		
		@include respond-below(md) {
			padding: 46px 47px 65px 48px;
		}
		
		.grid-row {
			align-items: center;
			flex-direction: column;
		}

		&::before,
		&::after {
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			position: absolute;
		}

		&::before {
			background-image: url('#{$imgs-path}about-us-rectangle.png');
			height: 164px;
			left: 0;
			top: 0;
			width: 157px;
			
			@include respond-below(md) {
				height: 118px;
				width: 111px;
			}
			
			@include respond-below(sm) {
				background-image: url('#{$imgs-path}about-us-rectangle-sm.png');
				height: 81px;
				left: -88px;
				width: 176px;
			}
		}

		&::after {
			background-image: url('#{$imgs-path}about-us-elipse.png');
			bottom: 0;
			height: 90px;
			right: 0;
			width: 130px;
			
			@include respond-below(md) {
				height: 61px;
				width: 94px;
			}
			
			@include respond-below(sm) {
				background-image: url('#{$imgs-path}about-us-elipse-sm.png');
				height: 70px;
				right: -70px;
				width: 141px;
				
			}
		}
	}

	.#{$prefix}about-content-text {
		font-size: $font-size-s;
		line-height: 1.571428571;
		max-width: 764px;
		text-align: center;
		
		@include respond-below(md) {
			font-size: $font-size-xs;
		}

		&:first-of-type {
			margin-bottom: 20px;
		}
	}
}