.#{$prefix}section-title {
	color: $text-color-dark-medium;
	font-family: $font-family-secondary-bold;
	font-size: 34px;
	margin-bottom: 24px;
	text-align: center;
	
	@include respond-below(md) {
		font-size: 28px;
	}
	
	@include respond-below(sm) {
		font-size: $font-size-m;
	}
}

.#{$prefix}section-info-text {
	color: $text-color-dark-light;
	font-size: $font-size;
	line-height: 25px;
	text-align: center;
	
	@include respond-below(md) {
		font-size: $font-size-s;
	}
	
	@include respond-below(md) {
		font-size: $font-size-xs;
	}
}

.#{$prefix}section-content {
	display: flex;
	justify-content: space-between;
}

.#{$prefix}section-header {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
}