.#{$prefix}panelbar-list {
	width: 100%;
	
	.#{$prefix}panelbar-list-item {
		&:not(:last-of-type) {
			border-bottom: $panelbar-list-item-border;
		}
	}
	
	.#{$prefix}panelbar {
		cursor: pointer;
		display: flex;
		padding: $panelbar-padding-y $panelbar-padding-x;
		transition: $panelbar-padding-transition;
		
		&:hover,
		&.opened {
			background-color: $panelbar-hover-active-bg-color;
		}
		
		&.opened {
			
			.#{$prefix}panelbar-toogle-icon {
				transform: rotate(180deg);
			}
		}
		
		.#{$prefix}panelbar-icon {
			margin-right: 13px;
		}
		
		.#{$prefix}panelbar-content {
			color: $text-color-secondary;
			display: flex;
			flex: 1;
			flex-direction: column;
		}
		
		.#{$prefix}panelbar-content-title {
			font-family: $panelbar-title-font-family;
			font-size: $panelbar-title-font-size;
			margin-bottom: $panelbar-title-spacing-bottom;
		}
		
		.#{$prefix}panelbar-content-text {
			display: none;
			font-size: $panelbar-detail-text-font-size;
			line-height: 20px;
			word-break: break-word;
		}
		
		.#{$prefix}panelbar-toogle-icon {
			cursor: pointer;
			margin-left: 13px;
			transition: transition(transform);
		}
	}
}