//--------------------------------------------------------------------------------------------------------------------//
//                                            PANELBAR VARIABLES                                                      //
//--------------------------------------------------------------------------------------------------------------------//
/// panelbar list item border color
/// @group panelbar
$panelbar-list-item-border: 1px solid $border-color !default;
//--------------------------------------------------------------------------------------------------------------------//
/// panelbar padding horizontal
/// @group panelbar
$panelbar-padding-x: 22px !default;
/// panelbar padding vertical
/// @group panelbar
$panelbar-padding-y: 22px !default;
/// panelbar transition
/// @group panelbar
$panelbar-padding-transition: transition(background-color) !default;
/// panelbar hover and active backgrond color
/// @group panelbar
$panelbar-hover-active-bg-color: #e5f3fe !default;
/// panelbar color
/// @group panelbar
$panelbar-color: $text-color-secondary !default;
//--------------------------------------------------------------------------------------------------------------------//
/// panelbar title font family
/// @group panelbar
$panelbar-title-font-family: $font-family-secondary-bold !default;
/// panelbar title font size
/// @group panelbar
$panelbar-title-font-size: $font-size-m !default;
/// panelbar title spacing bottom
/// @group panelbar
$panelbar-title-spacing-bottom: 9px !default;
//--------------------------------------------------------------------------------------------------------------------//
/// panelbar detail text font size
/// @group panelbar
$panelbar-detail-text-font-size: $font-size-xs !default;