.#{$prefix}carousel-container {
	min-height: $ps-carousel-height;
	position: relative;
	width: $ps-carousel-width;

	@media screen and (min-width: 992px) and (max-width: 1140px) {
		width: 85%;
	}
	
	@include respond-below(lg) {
		width: 80%;
	}
	
	@include respond-below(844px) {
		width: 100%;
	}

	.#{$prefix}carousel-inner {
		overflow: hidden;
	}

	.#{$prefix}carousel-track {
		display: inline-flex;
		transition: $ps-carousel-track-animation;
	}

	.#{$prefix}carousel-card-container {
		flex-shrink: 0;
		list-style-type: none;
		min-height: $ps-carousel-card-container-min-width;
		padding-right: $ps-carousel-card-container-spacer;
		width: $ps-carousel-card-container-width;

		&:nth-of-type(5n + 1) {
			margin-left: $ps-carousel-card-container-spacer;
		}
	}

	.#{$prefix}carousel-card {
		display: flex;
		flex-direction: column;
		height: 100%;
		text-align: center;
		width: 100%;
	}
	
	.#{$prefix}carousel-card-picture {
		background-color: $ps-carousel-card-img-bg-color;
		height: 100%;
		max-height: $ps-carousel-card-img-min-height;
		min-height: $ps-carousel-card-img-min-height;
		object-fit: contain;
		width: 100%;
	}

	.#{$prefix}carousel-card-detail {
		flex: 1;
		font-family: $ps-carousel-card-text-font-family;
		margin: $ps-carousel-card-detail-text-spacing;
	}

	.#{$prefix}carousel-card-price {
		color: $ps-carousel-card-detail-price-color;
		font-family: $ps-carousel-card-text-font-family;
	}

	button {
		align-items: center;
		background-color: $ps-carousel-action-button-bg-color;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 8px 14px;
		border: 0;
		border-radius: $ps-carousel-action-button-border-radius;
		box-shadow: $ps-carousel-action-button-box-shadow;
		cursor: pointer;
		display: flex;
		height: $ps-carousel-action-button-size;
		justify-content: center;
		outline: none;
		position: absolute;
		top: 70px;
		transition: $ps-carousel-action-button-transition;
		width: $ps-carousel-action-button-size;
		
		@include respond-below(844px) {
			bottom: -60px;
			top: unset;
		}
		
		&:hover {
			background-color: $ps-carousel-action-button-hover-bg-color;
		}
	}

	.prev {
		background-image: url('#{$imgs-path}arrow-left-white.png');
		display: none;
		left: -74px;
		
		@include respond-below(844px) {
			left: calc(50% - 60px);
		}

		&.show {
			display: block;
		}
	}

	.next {
		background-image: url('#{$imgs-path}arrow-right-white.png');
		right: -80px;
		
		@include respond-below(844px) {
			right: calc(50% - 30px);
		}

		&.hide {
			display: none;
		}
	}
}