/// @name respond-above
/// @author Stevan Stojanovic
/// @group mixins
/// @require {map} $breakpoints
/// @require {variable} $breakpoint
/// @require {variable} $breakpoint-value
/// @param   {map}      $map  [$breakpoints] provide a map of breakpoints
/// @param   {string}   $breakpoint provide property from $breakpoints map (xs, sm, md, lg)
/// @param   {string}   $breakpoint-value provide value from $breakpoints map (576px, 768px, 992px, 1200px)
/// @example
///     INPUT:
///     .some-class {
///        @include respond-above(md) {
///          font-size: 10px
///        }
///     }
///     OUTPUT:
///     @media (min-width: 768px) {
///        .some-class {
///            font-size: 10px
///        }
///     }
@mixin respond-above($breakpoint) {

    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }

    } @else if(is-number($breakpoint)) {
        @media (max-width: ($breakpoint - 1)) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

/// @name respond-below
/// @author Stevan Stojanovic
/// @group mixins
/// @require {map} $breakpoints
/// @require {variable} $breakpoint
/// @require {variable} $$breakpoint-value
/// @param   {map}      $map  [$breakpoints] provide a map of breakpoints
/// @param   {string}   $breakpoint provide property from $breakpoints map (xs, sm, md, lg)
/// @param   {string}   $breakpoint-value provide value from $breakpoints map (576px, 768px, 992px, 1200px)
/// @example
///     INPUT:
///     .some-class {
///        @include respond-below(md) {
///          font-size: 10px
///        }
///     }
///     OUTPUT:
///     @outputs
///     @media (max-width: 767px) {
///        .some-class {
///            font-size: 10px
///        }
///     }
@mixin respond-below($breakpoint: null) {

    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        }
    } @else if(is-number($breakpoint)) {

        @media (max-width: ($breakpoint - 1)) {
            @content;
        }
    }   @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

/// @name respond-between
/// @author Stevan Stojanovic
/// @group mixins
/// @require {map} $breakpoints
/// @require {variable} $breakpoint
/// @require {variable} $$breakpoint-value
/// @require {variable} $lower
/// @require {variable} $upper
/// @param   {map}      $map  [$breakpoints] provide a map of breakpoints
/// @param   {string}   $breakpoint provide property from $breakpoints map (xs, sm, md, lg)
/// @param   {string}   $breakpoint-value provide value from $breakpoints map (576px, 768px, 992px, 1200px)
/// @param   {string}   $lower provide lower breakpoint from $breakpoints map (xs, sm, md, lg)
/// @param   {string}   $upper provide upper breakpoint from $breakpoints map (xs, sm, md, lg)
/// @example
///     INPUT
///     .some-class {
///        @include respond-between(sm, md) {
///          font-size: 10px
///        }
///     }
///     OUTPUT:
///     @media (min-width: 576px) and (max-width: 767px) {
///         .some-class {
///             font-size: 10px
///         }
///     }
@mixin respond-between($lower, $upper) {

    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
        $lower-breakpoint: map-get($breakpoints, $lower);
        $upper-breakpoint: map-get($breakpoints, $upper);

        @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
            @content;
        }

    } @else {

        @if (map-has-key($breakpoints, $lower) == false) {
            @warn 'Your lower breakpoint was invalid: #{$lower}.';
        }

        @if (map-has-key($breakpoints, $upper) == false) {
            @warn 'Your upper breakpoint was invalid: #{$upper}.';
        }
    }
}