.#{$prefix}header-dog-wrap {
	background-color: #bbd8ea;
	border-radius: 50%;
	height: 1390px;
	left: 550px;
	overflow: hidden;
	position: absolute;
	top: -620px;
	width: 1440px;
	
	@include respond-below(1600px) {
		left: 370px;
	}
	
	@include respond-below(1450px) {
		left: 310px;
	}
	
	@include respond-below(xl) {
		left: 250px;
	}
	
	@include respond-below(lg) {
		height: 980px;
		left: 220px;
		top: -310px;
		width: 980px;
	}
	
	@include respond-below(sm) {
		left: -50%;
		top: -155px;
	}
	
	@include respond-below(490px) {
		left: -57%;
	}
	
	@include respond-below(420px) {
		left: -79%;
	}
	
	.#{$prefix}header-dog {
		background-image: url('#{$imgs-path}header-dog.png');
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
		bottom: -20px;
		height: 573px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 50%;
		
		@include respond-below(lg) {
			height: 430px;
			width: 456px;
		}
		
		@include respond-below(sm) {
			opacity: .1;
		}
	}
}