.#{$prefix}btn {
	align-content: center;
	border-radius: $btn-border-radius;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-flex;
	font-family: $btn-font-family;
	font-size: $btn-font-size;
	justify-content: center;
	line-height: 1;
	outline: none;
	padding: $btn-padding-y $btn-padding-x;
	position: relative;
	transition: transition(background-color), transition(box-shadow), transition(color), transition(border-color);
	
	&.#{$prefix}btn-primary {
		background-color: $btn-primary-bg-color;
		border-color: $btn-primary-border-color;
		color: $btn-primary-text-color;
		
		&:hover {
			background-color: $btn-primary-hover-bg-color;
			border-color: $btn-primary-hover-border-color;
			color: $btn-primary-hover-text-color;
		}
		
		&:active {
			box-shadow: $btn-focused-shadow;
		}
	}
	
	&.#{$prefix}btn-block {
		width: 100%;
	}
	
	&.#{$prefix}btn-big {
		font-size: $btn-big-font-size;
		padding: $btn-big-padding-y $btn-big-padding-x;
	}
}