@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($name, $breakpoints);
	@if $min {
		@media (min-width: $min) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin make-container() {
	margin: 0 auto;
	padding: 0 ($grid-gutter-width / 2);
	width: 100%;
}

@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
	@each $breakpoint, $container-max-width in $max-widths {
		@include media-breakpoint-up($breakpoint, $breakpoints) {
			max-width: $container-max-width;
		}
	}
}

@mixin make-row() {
	display: flex;
	flex-wrap: wrap;
	margin: 0 ($grid-gutter-width / -2);
}

@mixin make-col($size, $columns: $grid-columns) {
	flex: 0 0 percentage($size / $columns);
	max-width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns: $grid-columns) {
	$num: $size / $columns;
	margin-left: if($num == 0, 0, percentage($num));
}

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
	%grid-column {
		min-height: 1px;
		padding: 0 ($gutter / 2);
		position: relative;
		width: 100%;
	}
	
	@each $breakpoint in map-keys($breakpoints) {
		$infix: breakpoint-infix($breakpoint, $breakpoints);
		
		@for $i from 1 through $columns {
			.grid-col#{$infix}-#{$i} {
				@extend %grid-column;
			}
		}
		.grid-col#{$infix},
		.grid-col#{$infix}-auto {
			@extend %grid-column;
		}
		
		@include media-breakpoint-up($breakpoint, $breakpoints) {
			.grid-col#{$infix} {
				flex-basis: 0;
				flex-grow: 1;
				max-width: 100%;
			}
			.grid-col#{$infix}-auto {
				flex: 0 0 auto;
				max-width: none;
				width: auto;
			}
			
			@for $i from 1 through $columns {
				.grid-col#{$infix}-#{$i} {
					@include make-col($i, $columns);
				}
			}
			
			.order#{$infix}-first { order: -1; }
			
			.order#{$infix}-last { order: $columns + 1; }
			
			@for $i from 0 through $columns {
				.order#{$infix}-#{$i} { order: $i; }
			}
			
			@for $i from 0 through ($columns - 1) {
				@if not ($infix == "" and $i == 0) {
					.offset#{$infix}-#{$i} {
						@include make-col-offset($i, $columns);
					}
				}
			}
		}
	}
}